.biases-container {
    text-align: center;
    padding: 20px;
    min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Background Image with Opacity */
.biases-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../Visuals/about.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    z-index: -1; /* Place behind content */
}

.biases-title {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #ccc;
}

.bias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
}

.bias-button {
    background-color: gray;
    opacity: 0.9;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 10px 25px rgba(255, 255, 255, 0.1);
}

.bias-button:hover {
    transform: scale(1.05);
}

.bias-icon {
    width: 100%;
    height: 225px;
    object-fit: cover; /* Make images fit like posters */
    border-radius: 10px;
}

.bias-name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}
