/* Center the content vertically */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 84vh;
    padding-left: 4rem; 
  }
  .welcome-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url('/src/Visuals/poker.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust transparency */
    z-index: -1; /* Keeps it behind content */
}

  /* Title styling */
  .welcome-title {
    font-size: 3rem;
    font-style: normal;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    color: #222;
  }
  
  /* Button container */
  .button-group {
    display: flex;
    gap: 1rem;
  }
  
  /* Button styling */
  .welcome-button {
    padding: 12px 24px;
    border-radius: 9999px; /* Makes it fully rounded */
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .welcome-button.gray {
    background-color: #e4941be8;
    font-family: Squada One;
    color: white;
  }
  
  .welcome-button.red {
    background-color: rgba(187, 66, 6, 0.913);
    font-family: Squada One;
    color: white;
  }

  .welcome-button.survey {
    background-color: #996849;
    font-family: Squada One;
    color: white;
  }
  
  /* Button hover effect */
  .welcome-button:hover {
    opacity: 0.9;
  }