/* Ensure the whole page takes full height */
html, body, #root {
  height: 100%;
  font-family: Squada One;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}